<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>classNames</key>
	<dict>
		<key>TransformPerformanceTests</key>
		<dict>
			<key>testCATransform3DInterpolationPerformance_complexTransforms()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>11.368</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Aug 14, 2020 at 5:54:49 PM</string>
				</dict>
			</dict>
			<key>testCATransform3DInterpolationPerformance_identityToIdentity()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>11.346</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Aug 14, 2020 at 5:54:49 PM</string>
				</dict>
			</dict>
			<key>testCGAffineTransformInterpolationPerformance_complexTransforms()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>1.6323</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Jul 18, 2020 at 1:54:16 AM</string>
				</dict>
			</dict>
			<key>testCGAffineTransformInterpolationPerformance_identityToIdentity()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>1.4746</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Jul 18, 2020 at 1:54:16 AM</string>
				</dict>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
